@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 25% 28%;
    --foreground: 210 40% 98%;
    --card: 210 29% 24%;
    --card-foreground: 210 40% 98%;
    --popover: 210 29% 24%;
    --popover-foreground: 210 40% 98%;
    --primary: 207 70% 53%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 29% 22%;
    --secondary-foreground: 210 40% 98%;
    --muted: 210 29% 20%;
    --muted-foreground: 210 40% 60%;
    --accent: 207 70% 53%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 50.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 210 25% 38%;
    --input: 210 25% 38%;
    --ring: 207 70% 53%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
